/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik+Doodle+Shadow&display=swap');

/* Wildcard selector for default styles from browser */
* {
    margin: 0;
}

/* General style */
body {
    background-color: #E3E7EC;
    color: #071220;
    font-family: 'Rubik doodle shadow', sans-serif;
}

/* Main style */
#game {
    display: flex;
    align-items: center;
    text-align: center;
    height: 200px;
}

#player0 img {
    width: 50%;
}

#player1 img {
    width: 50%;
}