/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik+Doodle+Shadow&display=swap');

/* Wildcard selector for default styles from browser */
* {
    margin: 0;
}

/* General style */
body {
    background-color: #E3E7EC;
    color: #071220;
    font-family: 'Rubik doodle shadow', sans-serif;
}

/* Main style */
#game {
    display: flex;
    align-items: center;
    text-align: center;
    height: 200px;
    justify-content: space-around;
}

#player0 img {
    width: 50%;
}

#player1 img {
    width: 50%;
}

#score {
    text-align: center;
    margin-top: 10rem;
}

#computer-score {
    margin-left: 2em;
}

#player-score {
    margin-right: 2em;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

#buttons-container button {
    background: none;
    font-family: 'Rubik doodle shadow', sans-serif;
    color: black;
    border-radius: 10rem;
    width: 150px;
    cursor: pointer;
    padding: 2rem 3rem;
    border: 2px solid black;
    outline: none;
    transition: 0.3s all linear;
}

#buttons-container button:hover {
    background-color: rgb(66, 92, 240);
    border: 1px solid rgb(66, 92, 240);
}