/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik+Doodle+Shadow&display=swap');

/* Wildcard selector for default styles from browser */
* {
    margin: 0;
}

/* General style */

body {
    background-color: #C8E1FA;
    color: #071220;
    font-family: 'Rubik doodle shadow', sans-serif;
}

/* Header style */

#header {
    display: flex;
    justify-content: space-evenly;
    background-color: #16212F;
    padding: 1.8rem;
    color: white;
}

.button {
    font-size: x-large;
    background: none;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 15px;
}

#how-to-play {
    color: white;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem;
}

/* Title Game animation style */

.title-animation {
    display: inline-block;
    animation: movement 7s linear infinite;
    font-weight: bolder;
    font-size: 1.5rem;
}

.title-animation:nth-child(1) {
    animation-delay: 1s;
}

.title-animation:nth-child(2) {
    animation-delay: 0.5s;
}

@keyframes movement {
    50% {
        transform: translateY(30px);
    }
}

/* Main style */

.game {
    display: flex;
    align-items: center;
    text-align: center;
    height: 200px;
    justify-content: space-around;
}

.hands {
    display: contents;
}

.result {
    font-size: 30px;
    padding-top: 12rem;
}

.computer {
    margin-top: 15rem;
    margin-left: 5rem;
}


.player {
    margin-top: 15rem;
    margin-right: 5rem;
    transform: rotateY(180deg);
}

/* Hands animation style */

.shakeComputer {
    animation: shakeComputer 0.8s linear;
}

.shakePlayer {
    animation: shakePlayer 0.8s linear;
}

@keyframes shakeComputer {
    0% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shakePlayer {
    0% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
/* Score section style */

.score {
    text-align: center;
    margin-top: 10rem;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.computerScore {
    margin-left: 2em;
}

.playerScore {
    margin-right: 2em;
}

p {
    font-size: 45px;
}

/* Buttons Main game style */

.options {
    display: flex;
    justify-content: space-around;
}

.options button {
    background: none;
    font-family: 'Rubik doodle shadow', sans-serif;
    color: black;
    border-radius: 10rem;
    width: 160px;
    cursor: pointer;
    padding: 2rem 2rem;
    border: 2px solid black;
    outline: none;
    transition: 0.3s all linear;
    font-size: large;
    font-weight: bold;
    font-size: 22px;

}

.options button:hover {
    background-color: white;
    border: 1px solid black;
}

.playGame:hover {
    background-color: white;
    border: 1px solid black;
}

#reset-button:hover {
    background-color: white;
    border: 1px solid black;
}

.rock,
.paper,
.scissors,
.lizard,
.spock {
    visibility: hidden;
    transition: 2s ease-in 2s;
    font-size: 20px;
}

#reset-button {
    visibility: hidden;
    transition: 2s ease-in 2s;
    font-size: 20px;
    background: none;
    font-family: 'Rubik doodle shadow', sans-serif;
    color: black;
    border-radius: 10rem;
    width: 160px;
    cursor: pointer;
    padding: 2rem 2rem;
    border: 2px solid black;
    outline: none;
    transition: 0.3s all linear;
    font-size: x-large;
    font-weight: bold;
}

.start {
    display: flex;
    justify-content: space-around;
}

.playGame {
    background: none;
    font-family: 'Rubik doodle shadow', sans-serif;
    color: black;
    border-radius: 10rem;
    width: 160px;
    cursor: pointer;
    padding: 2rem 2rem;
    border: 2px solid black;
    outline: none;
    transition: 0.3s all linear;
    font-size: x-large;
    font-weight: bold;
}

.reset {
    display: flex;
    justify-content: space-around;
}

.reset-button {
    background: none;
    font-family: 'Rubik doodle shadow', sans-serif;
    color: black;
    border-radius: 10rem;
    width: 160px;
    cursor: pointer;
    padding: 2rem 2rem;
    border: 2px solid black;
    outline: none;
    transition: 0.3s all linear;
    font-size: x-large;
    font-weight: bold;
}

/* Footer style */

#footer {
    display: flex;
    justify-content: space-around;
    background-color: #16212F;
    color: white;
    margin-top: 11rem;
    padding: 2rem;
}

.credits {
    font-size: xx-large;
}

/* Media query for mobile devices max 720px */

@media screen and (max-width: 720px) {

    #header {
        padding: 5px;
        flex-wrap: wrap;
    }

    .button {
        font-size: large;
        margin-top: 2rem;
    }

    .player,
    .computer {
        width: 6rem;
    }

    .score {
        font-size: small;
    }

    .result{
        font-size: 20px;
        padding-top: 0;
    }

    .options {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer {
        justify-content: space-between;
    }

    .credits {
        font-size: small;
        justify-content: space-between;
        padding-left: inherit;
    }
}